Flask
Flask-Cors
Jinja2==3.0.1
lxml==4.6.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-cache @ git+https://github.com/reclosedev/requests-cache@2057fdcbefa12611ed2b3e2fd9d4824e631cc72c
tzlocal==2.1
url-normalize==1.4.3
urllib3==1.26.4
Werkzeug==2.0.3
